_PIP_ADDITIONAL_REQUIREMENTS=openpyxl great_expectations
AIRFLOW_DAG_PACKAGE=<TO_DEFINE>
AIRFLOW_UID=501
AWS_ACCESS_KEY_ID=<TO_DEFINE>
AWS_SECRET_ACCESS_KEY=<TO_DEFINE>
AWS_S3_BUCKET_NAME=<TO_DEFINE>
AWS_S3_ROOT_STORAGE=s3a://$AWS_S3_BUCKET_NAME
DREMIO_PASSWORD=<TO_DEFINE>
DREMIO_SOURCE_NAME=<TO_DEFINE>
DREMIO_USERNAME=<TO_DEFINE>
GOOGLE_MAPS_API_KEY=<TO_DEFINE>
POSTGRES_ADMIN_PWD=<TO_DEFINE>
POSTGRES_ADMIN_USER=<TO_DEFINE>
POSTGRES_DB_HOST=<TO_DEFINE>
POSTGRES_DB_NAME=<TO_DEFINE>
POSTGRES_SQL_ALCHEMY_CONN=postgresql+psycopg2://$POSTGRES_ADMIN_USER:$POSTGRES_ADMIN_PWD@$POSTGRES_DB_HOST:5432/$POSTGRES_DB_NAME
REWARDS_EXTRA_DAYS=<TO_DEFINE>
REWARDS_INCOME_PERCENT=<TO_DEFINE>
REWARDS_MAX_HOME_DISTANCE_WALK=<TO_DEFINE>
REWARDS_MAX_HOME_DISTANCE_OTHER=<TO_DEFINE>
REWARDS_MIN_ACTIVITIES_YEAR=<TO_DEFINE>
REWARDS_OFFICE_ADDRESS=<TO_DEFINE>
SLACK_TOKEN=<TO_DEFINE>
SLACK_CHANNEL=<TO_DEFINE>
SLACK_USERNAME=<TO_DEFINE>
SRC_RH_DATA_FILE=https://s3.eu-west-1.amazonaws.com/course.oc-static.com/projects/922_Data+Engineer/1039_P12/Donne%CC%81es+RH.xlsx
SRC_SPORTS_DATA_FILE=https://s3.eu-west-1.amazonaws.com/course.oc-static.com/projects/922_Data+Engineer/1039_P12/Donne%CC%81es+Sportive.xlsx
